header {
  text-align: center;
  background-color: rgb(85, 85, 238);
  color: rgba(220, 242, 247, 0.959);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.citySearch {
  padding-top: 15px;
  background-color: rgb(202, 250, 251);
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.shownWeather {
  margin-left: auto;
  margin-right: auto;
}

img {
  size: 60%;
}

#currentWeather {
  background-color: rgba(251, 217, 172, 0.808);
  padding-top: 15px;
  width: 100%;
  border: 2px solid black;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#currentSearch {
  font-size: large;
  font-weight: bold;
  align-items: center;
}

#searchBtn {
  background-color: rgb(56, 69, 248);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#forecast {
  margin-left: 15px;
}

.future {
  background-color: rgb(85, 85, 238);
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.stored {
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(85, 85, 238);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}