header {
  text-align: center;
  background-color: rgb(85, 85, 238);
  color: rgba(220, 242, 247, 0.959);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.citySearch {
  padding-top: 15px;
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

}

.shownWeather {
  margin-left: auto;
  margin-right: auto;
}

img {
  size: 60%;
}

#currentWeather {
  background-color: burlywood;
  padding-top: 15px;
  width: 100%;
  border: 2px solid black;
  padding-left: 20px;
}

#searchHistory {
  background-color: cadetblue;
}

#currentSearch {
  font-size: large;
  font-weight: bold;
  align-items: center;
}

#searchBtn {

  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.future {
  background-color: blue;
  color: white;
  margin: 5px;
  padding: 5px;

}